@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.productos-section {
    max-width: 1200px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.filtros {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filtros select,
.filtros input,
.filtros button {
    padding: 8px;
    border: 1px solid #FFC0CB;
    border-radius: 10px;
}

.filtros button {
    background: #8B4513;
    color: #fff;
    cursor: pointer;
}

.filtros button:hover {
    background: #985627c9;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.producto-card {
    background: #fff0f2;
    border: 1px solid #FFC0CB;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
}

.card img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    font-size: 1.2em;
    margin: 10px 0 5px;
}

.card p {
    font-size: 1em;
    color: #FFC0CB;
    margin-bottom: 10px;
}

.card .precio {
    font-weight: bold;
    color: #FFC0CB;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.card button {
    font-family: "Lato", sans-serif !important;
    background: #8B4513;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 19px;
    cursor: pointer;
    transition: background 0.3s;
}

.card button:hover {
    background: #985627c9;
}
