@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    font-family: "Lato", sans-serif;
    background-color: #FFF5E1;
    margin: 0;
    padding: 0;
}
header{
    background-color: #FFC0CB;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Pacifico", cursive !important; 
    color: #5a6063 !important;
}

p,.faq-question{
    font-family: "Lato", sans-serif !important;
    color: #5D4037 !important;
}


